div(
  style='max-width: 600px; padding-left: 10px; padding-right: 10px; margin: 0 auto'
)
  //- h1 Career Fingerprint
  img(
    src='https://imagedelivery.net/kZi8-wXMeVUU1_OciJlGxQ/510b260e-e9af-47b9-eb1f-d70122f45c00/public',
    alt='Career Fingerprint Logo',
    style='max-width: 400px; padding-bottom: 20px; padding-top: 20px'
  )
